
.thumb {
    padding:60px 10px;
    text-align: center;
    background: #ddd;
}

.bg-img {
    background-color: rgb(87 186 134);
    height: 100px;
    width: 130px;
    margin-right: 15px;
}

.title-fullname {
    font-size: 35px;
    padding-top: 10px;
}

.title-job {
    color: rgb(87 186 134);
    font-size: 20px;
}

.text-contact{
    color: slategrey;
    padding: 10px 0px 10px 30px;
}

.text-contact i {
    font-size: 20px;
}

hr {
    height: 5px !important;
    color: rgb(87 186 134);
}
